@model LeadViewModel

@{
    ViewData["Title"] = "Sales Leads";
}


<div class="center jumbotron">






    <p>
        <a asp-action="Create" class="btn btn-primary">Add new sales lead</a>
    </p>


</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>


            <th>
                Phone
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th>
                Preferred contact method.
            </th>
            <th>
                Indicator
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Leads)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => x.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => x.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => x.City)


            </td>

            <td>
                @Html.DisplayFor(modelItem => x.State)


            </td>
            <td>
                @Html.DisplayFor(modelItem => x.Zip)


            </td>
            <td>
                @Html.DisplayFor(modelItem => x.ContactMethod)


            </td>
            <td>
                @Html.DisplayFor(modelItem => x.BuyIdicator)


            </td>

        </tr>
        }
    </tbody>
</table>